@import url('https://fonts.googleapis.com/css?family=Anton');

.cursor {
  left: 0;
  top: 0;
  width: 10px;
  height: 10px;
  background-color: #f44336;
  position: absolute;
  border-radius: 5px;
}

.cursor__follower {
  transition: transform .4s;
  width: 6px;
  height: 6px;
}
